<form name="new-post" id="new-post" method="POST" action="/dashboard/create">
    <input type="text" name="title" id="title" />
    <textarea name="body" id="body" cols="30" rows="10"></textarea>
    <button type="submit" id="submit">Create Post</button>
</form>